<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" tempDirectory="G:\PleskVhosts\limoallaround.com\tmp" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <trust level="Full" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="ErrorPage.html"/>
    </customErrors>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="999999999" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect dmv-areas.html to dmv-shuttle-service" stopProcessing="true">
          <match url="^dmv-areas\.html$" ignoreCase="true" />
          <action type="Redirect" url="/dmv-shuttle-service.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://limoallaround.com" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <appSettings>
    <!--Start Paypal Credential-->
    <!--<add key="USER" value="Shassnain"/>-->
    <!--<add key="USER" value="limoallaround@gmail.com"/>
    <add key="VENDOR" value="Shassnain"/>
    <add key="PARTNER" value="PayPal"/>
    <add key="PWD" value="$Starwars12"/>-->
    <add key="USER" value="Limoallaround-facilitator_api1.gmail.com" />
    <add key="VENDOR" value="Shassnain" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="2VU7VY5G2WGZ4AVR" />
    <add key="PAYFLOW_HOST" value="payflowpro.paypal.com" />
    <add key="TRACE" value="OFF" />
    <add key="LOG_LEVEL" value="OFF" />
    <add key="LOG_FILE" value="logs\PayflowSDK.log" />
    <add key="LOGFILE_SIZE" value="102300" />
    <!--END Paypal Credential-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
  </appSettings>
  <connectionStrings>
    <add name="Frederick_ConnectionString" connectionString="Data Source=A2NWPLSK14SQL-v01.shr.prod.iad2.secureserver.net;Initial Catalog=dbfrederick;Persist Security Info=True;User ID=dbfrederick;Password=Dbfrederick@#12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>