<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" tempDirectory="G:\PleskVhosts\limoallaround.com\tmp" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <trust level="Full" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="ErrorPage.html"/>
    </customErrors>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="999999999" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect dmv-areas.html to dmv-shuttle-service" stopProcessing="true">
          <match url="^dmv-areas\.html$" ignoreCase="true" />
          <action type="Redirect" url="/dmv-shuttle-service.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect washington-d.c-shuttle-service.html to shuttle-service-washington-dc.html" stopProcessing="true">
          <match url="^washington-d.c-shuttle-service.html$" ignoreCase="true" />
          <action type="Redirect" url="/shuttle-service-washington-dc.html" redirectType="Permanent" />
        </rule>
        <rule name="baltimore-airport-transportation.html to airport-transportation-baltimore-md.html" stopProcessing="true">
          <match url="^baltimore-airport-transportation\.html$" ignoreCase="true" />
          <action type="Redirect" url="/airport-transportation-baltimore-md.html" redirectType="Permanent" />
        </rule>
        <rule name="airport-limo-service.html to airport-transportation-baltimore-md.html" stopProcessing="true">
          <match url="^airport-limo-service\.html$" ignoreCase="true" />
          <action type="Redirect" url="/airport-transportation-baltimore-md.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule> 
        <rule name="Redirect washington-dc-point-to-point-limo-service.html to point-to-point-limo-service.html" stopProcessing="true">
  <match url="^washington-dc-point-to-point-limo-service\.html$" />
  <action type="Redirect" url="/point-to-point-limo-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect baltimore-sedan-car-service.html to hourly-limo-service.html" stopProcessing="true">
  <match url="^baltimore-sedan-car-service\.html$" />
  <action type="Redirect" url="/hourly-limo-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect phl-philadelphia-international-airport-limos-service.html to phl-limo-service-phl-car-service.html" stopProcessing="true">
  <match url="^phl-philadelphia-international-airport-limos-service\.html$" />
  <action type="Redirect" url="/phl-limo-service-phl-car-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect bwi-airport-transfers-limos-service.html to bwi-shuttle-service-bwi-limo-service.html" stopProcessing="true">
  <match url="^bwi-airport-transfers-limos-service\.html$" />
  <action type="Redirect" url="/bwi-shuttle-service-bwi-limo-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect dca-airport-transfers-limos-service.html to dca-shuttle-service-dca-car-service.html" stopProcessing="true">
  <match url="^dca-airport-transfers-limos-service\.html$" />
  <action type="Redirect" url="/dca-shuttle-service-dca-car-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect Iad-dulles-international-airport-limos-service.html to iad-limo-service-dulles-car-service.html" stopProcessing="true">
  <match url="^Iad-dulles-international-airport-limos-service\.html$" />
  <action type="Redirect" url="/iad-limo-service-dulles-car-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect school-transportation-shuttle-service.html to baltimore-private-school-transportation.html" stopProcessing="true">
  <match url="^school-transportation-shuttle-service\.html$" />
  <action type="Redirect" url="/baltimore-private-school-transportation.html" redirectType="Permanent" />
</rule>

<rule name="Redirect corporate-limo-service.html to corporate-transportation-services.html" stopProcessing="true">
  <match url="^corporate-limo-service\.html$" />
  <action type="Redirect" url="/corporate-transportation-services.html" redirectType="Permanent" />
</rule>

<rule name="Redirect luxury-wine-tour-limousine-transportation-service.html to winery-and-city-tours.html" stopProcessing="true">
  <match url="^luxury-wine-tour-limousine-transportation-service\.html$" />
  <action type="Redirect" url="/winery-and-city-tours.html" redirectType="Permanent" />
</rule>

<rule name="Redirect exclusive-shuttle-service.html to bwi-shuttle-service.html" stopProcessing="true">
  <match url="^exclusive-shuttle-service\.html$" />
  <action type="Redirect" url="/bwi-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect hourly-limo-service.html to baltimore-hourly-limo-service.html" stopProcessing="true">
  <match url="^hourly-limo-service\.html$" />
  <action type="Redirect" url="/baltimore-hourly-limo-service.html" redirectType="Permanent" />
</rule>
<rule name="Redirect limousine-party-services.html to baltimore-d.c-party-limo-service.html" stopProcessing="true">
  <match url="^limousine-party-services\.html$" />
  <action type="Redirect" url="/baltimore-d.C-party-limo-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect limos-wedding-services.html to baltimore-wedding-limo-services.html" stopProcessing="true">
  <match url="^limos-wedding-services\.html$" />
  <action type="Redirect" url="/baltimore-wedding-limo-services.html" redirectType="Permanent" />
</rule>

<rule name="Redirect exotic-car-rental.html to baltimore-exotic-car-rental.html" stopProcessing="true">
  <match url="^exotic-car-rental\.html$" />
  <action type="Redirect" url="/baltimore-exotic-car-rental.html" redirectType="Permanent" />
</rule>

<rule name="Redirect private-school-transportation.html to baltimore-private-school-transportation.html" stopProcessing="true">
  <match url="^private-school-transportation\.html$" />
  <action type="Redirect" url="/baltimore-private-school-transportation.html" redirectType="Permanent" />
</rule>

<rule name="Redirect washington-dc-tour-limo-service.html to sprinter-vans-buses-group-transportation.html" stopProcessing="true">
  <match url="^washington-dc-tour-limo-service\.html$" />
  <action type="Redirect" url="/sprinter-vans-buses-group-transportation.html" redirectType="Permanent" />
</rule>

<rule name="Redirect black-limo-motor-coaches.html to baltimore-bus-charter-rental.html" stopProcessing="true">
  <match url="^black-limo-motor-coaches\.html$" />
  <action type="Redirect" url="/baltimore-bus-charter-rental.html" redirectType="Permanent" />
</rule>
<rule name="Redirect columbia-md.html to shuttle-service-columbia-md.html" stopProcessing="true">
  <match url="^columbia-md\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-columbia-md.html" redirectType="Permanent" />
</rule>
<rule name="Redirect tyson-va-shuttle-service.html to shuttle-service-tysons-va.html" stopProcessing="true">
  <match url="^tyson-va-shuttle-service\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-tysons-va.html" redirectType="Permanent" />
</rule>
<rule name="Redirect Our-limo-services.html to our-limo-partners.html" stopProcessing="true">
  <match url="^Our-limo-services\.html$" ignoreCase="true" />
  <action type="Redirect" url="/our-limo-partners.html" redirectType="Permanent" />
</rule>
<rule name="Redirect silver.spring.html to shuttle-service-silver-spring-md.html" stopProcessing="true">
  <match url="^silver\.spring\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-silver-spring-md.html" redirectType="Permanent" />
</rule>

<rule name="Redirect limos-transportation-service-local-areas.html to dmv-shuttle-service.html" stopProcessing="true">
  <match url="^limos-transportation-service-local-areas\.html$" ignoreCase="true" />
  <action type="Redirect" url="/dmv-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect mcleaan-shuttle-service.html to mclean-shuttle-service.html" stopProcessing="true">
  <match url="^mcleaan-shuttle-service\.html$" ignoreCase="true" />
  <action type="Redirect" url="/mclean-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect Alexandra-VA.html to alexandria-va-shuttle-service.html" stopProcessing="true">
  <match url="^Alexandra-VA\.html$" ignoreCase="true" />
  <action type="Redirect" url="/alexandria-va-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="Redirect Washington-DC.html to shuttle-service-washington-dc.html" stopProcessing="true">
  <match url="^Washington-DC\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-washington-dc.html" redirectType="Permanent" />
</rule>
        <rule name="About-us.html to about-us.html" stopProcessing="true">
        <match url="^About-us\.html$" />
         <conditions>
         <add input="{URL}" pattern="^/About-us\.html$" ignoreCase="false" />
        </conditions>
        <action type="Redirect" url="/about-us.html" redirectType="Permanent" />
        </rule>
        <rule name="Iad-limo-service-dulles-car-service.html to iad-limo-service-dulles-car-service.html" stopProcessing="true">
  <match url="^Iad-limo-service-dulles-car-service\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Iad-limo-service-dulles-car-service\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/iad-limo-service-dulles-car-service.html" redirectType="Permanent" />
</rule>

<rule name="BWI-Airport-Sedan-service.html to bwi-airport-sedan-service.html" stopProcessing="true">
  <match url="^BWI-Airport-Sedan-service\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/BWI-Airport-Sedan-service\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/bwi-airport-sedan-service.html" redirectType="Permanent" />
</rule>

<rule name="Contact-us.html to contact-us.html" stopProcessing="true">
  <match url="^Contact-us\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Contact-us\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/contact-us.html" redirectType="Permanent" />
</rule>

<rule name="Baltimore-56-passenger-bus.html to baltimore-56-passenger-bus.html" stopProcessing="true">
  <match url="^Baltimore-56-passenger-bus\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Baltimore-56-passenger-bus\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/baltimore-56-passenger-bus.html" redirectType="Permanent" />
</rule>

<rule name="BWI-large-group-van-service.html to bwi-large-group-van-service.html" stopProcessing="true">
  <match url="^BWI-large-group-van-service\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/BWI-large-group-van-service\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/bwi-large-group-van-service.html" redirectType="Permanent" />
</rule>

<rule name="Baltimore-Airport-Suv-limo.html to baltimore-airport-suv-limo.html" stopProcessing="true">
  <match url="^Baltimore-Airport-Suv-limo\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Baltimore-Airport-Suv-limo\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/baltimore-airport-suv-limo.html" redirectType="Permanent" />
</rule>

<rule name="Our-limo-partners.html to our-limo-partners.html" stopProcessing="true">
  <match url="^Our-limo-partners\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Our-limo-partners\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/our-limo-partners.html" redirectType="Permanent" />
</rule>

<rule name="Baltimore-party-Limousine-service.html to baltimore-party-limousine-service.html" stopProcessing="true">
  <match url="^Baltimore-party-Limousine-service\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Baltimore-party-Limousine-service\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/baltimore-party-limousine-service.html" redirectType="Permanent" />
</rule>

<rule name="Our-Fleet.html to our-fleet.html" stopProcessing="true">
  <match url="^Our-Fleet\.html$" />
  <conditions>
    <add input="{URL}" pattern="^/Our-Fleet\.html$" ignoreCase="false" />
  </conditions>
  <action type="Redirect" url="/our-fleet.html" redirectType="Permanent" />
</rule>

<rule name="leesburg.html to shuttle-service-leesburg-va.html" stopProcessing="true">
  <match url="^leesburg\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-leesburg-va.html" redirectType="Permanent" />
</rule>

<rule name="great-falls-va.html to shuttle-service-great-falls-va.html" stopProcessing="true">
  <match url="^great-falls-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-great-falls-va.html" redirectType="Permanent" />
</rule>

<rule name="shuttle-service-great-falls-va.html to transportation-great-falls-va.html" stopProcessing="true">
  <match url="^shuttle-service-great-falls-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/transportation-great-falls-va.html" redirectType="Permanent" />
</rule>

<rule name="annandale-va.html to shuttle-service-annandale-va.html" stopProcessing="true">
  <match url="^annandale-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-annandale-va.html" redirectType="Permanent" />
</rule>

<rule name="shuttle-service-annandale-va.html to transportation-annandale-va.html" stopProcessing="true">
  <match url="^shuttle-service-annandale-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/transportation-annandale-va.html" redirectType="Permanent" />
</rule>

<rule name="annapolis.html to shuttle-service-annapolis-md.html" stopProcessing="true">
  <match url="^annapolis\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-annapolis-md.html" redirectType="Permanent" />
</rule>

<rule name="silver-spring-md.html to shuttle-service-silver-spring-md.html" stopProcessing="true">
  <match url="^silver-spring-md\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-silver-spring-md.html" redirectType="Permanent" />
</rule>

<rule name="washington-d.c.html to shuttle-service-washington-dc.html" stopProcessing="true">
  <match url="^washington-d\.c\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-washington-dc.html" redirectType="Permanent" />
</rule>

<rule name="oxon-hills-md.html to oxon-hills-md-shuttle-service.html" stopProcessing="true">
  <match url="^oxon-hills-md\.html$" ignoreCase="true" />
  <action type="Redirect" url="/oxon-hills-md-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="oxon-hills-md-shuttle-service.html to transportation-oxon-hill-md.html" stopProcessing="true">
  <match url="^oxon-hills-md-shuttle-service\.html$" ignoreCase="true" />
  <action type="Redirect" url="/transportation-oxon-hill-md.html" redirectType="Permanent" />
</rule>

<rule name="shuttle-service-bethesda-md.html to transportation-bethesda-md.html" stopProcessing="true">
  <match url="^shuttle-service-bethesda-md\.html$" ignoreCase="true" />
  <action type="Redirect" url="/transportation-bethesda-md.html" redirectType="Permanent" />
</rule>

<rule name="springfield-VA.html to shuttle-service-springfield-va.html" stopProcessing="true">
  <match url="^springfield-VA\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-springfield-va.html" redirectType="Permanent" />
</rule>

<rule name="alexandria-va.html to alexandria-va-shuttle-service.html" stopProcessing="true">
  <match url="^alexandria-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/alexandria-va-shuttle-service.html" redirectType="Permanent" />
</rule>

<rule name="arlington.va.html to shuttle-service-arlington-va.html" stopProcessing="true">
  <match url="^arlington\.va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-arlington-va.html" redirectType="Permanent" />
</rule>

<rule name="baltimore.html to shuttle-service-baltimore-md.html" stopProcessing="true">
  <match url="^baltimore\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-baltimore-md.html" redirectType="Permanent" />
</rule>

<rule name="baltimore-shuttle-service.html to shuttle-service-baltimore-md.html" stopProcessing="true">
  <match url="^baltimore-shuttle-service\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-baltimore-md.html" redirectType="Permanent" />
</rule>

<rule name="gaithersburg.html to shuttle-service-gaithersburg-md.html" stopProcessing="true">
  <match url="^gaithersburg\.html$" ignoreCase="true" />
  <action type="Redirect" url="/shuttle-service-gaithersburg-md.html" redirectType="Permanent" />
</rule>

<rule name="shuttle-service-lincolnia-va.html to transportation-lincolnia-va.html" stopProcessing="true">
  <match url="^shuttle-service-lincolnia-va\.html$" ignoreCase="true" />
  <action type="Redirect" url="/transportation-lincolnia-va.html" redirectType="Permanent" />
</rule>
      </rules>
    </rewrite>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://limoallaround.com" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <appSettings>
    <!--Start Paypal Credential-->
    <!--<add key="USER" value="Shassnain"/>-->
    <!--<add key="USER" value="limoallaround@gmail.com"/>
    <add key="VENDOR" value="Shassnain"/>
    <add key="PARTNER" value="PayPal"/>
    <add key="PWD" value="$Starwars12"/>-->
    <add key="USER" value="Limoallaround-facilitator_api1.gmail.com" />
    <add key="VENDOR" value="Shassnain" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="2VU7VY5G2WGZ4AVR" />
    <add key="PAYFLOW_HOST" value="payflowpro.paypal.com" />
    <add key="TRACE" value="OFF" />
    <add key="LOG_LEVEL" value="OFF" />
    <add key="LOG_FILE" value="logs\PayflowSDK.log" />
    <add key="LOGFILE_SIZE" value="102300" />
    <!--END Paypal Credential-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
  </appSettings>
  <connectionStrings>
    <add name="Frederick_ConnectionString" connectionString="Data Source=A2NWPLSK14SQL-v01.shr.prod.iad2.secureserver.net;Initial Catalog=dbfrederick;Persist Security Info=True;User ID=dbfrederick;Password=Dbfrederick@#12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="dmv-areas.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="/dmv-shuttle-service.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>