/*booking  area */
.booking-area4 {
    position: relative;
    padding: 80px 0 60px 0;

    .body-shape {
        position: absolute;
        left: 120px;
        bottom: 0;

        @media(max-width: 1699px) {
            left: 0;
        }

        @media(max-width: 1399px) {
            display: none;
        }
    }
}

.booking-form {
    .input-wrap {
        &.style2 {
            background-color: transparent;
            padding: 0;
            box-shadow: none;

            select,
            .form-control,
            .form-select,
            textarea,
            input {
                height: 56px;
                border-radius: 50px;
                border: none;
            }
        }
    }
}

.title-area {
    &.style2 {
        position: relative;
        background-color: $theme-color;
        max-width: 813px;
        display: block;
        margin: auto;
        border-radius: 38px;
        margin-bottom: 180px;
        z-index: 1;
        @media(max-width: 1199px) {
            margin-bottom: 70px;
        }
        @media(max-width: 767px) {
            max-width: 100%;
        }

        &:before {
            content: "";
            position: absolute;
            inset: -20px;
            border: 6px solid #E7E7E7;
            border-radius: inherit;
            @media(max-width: 767px) {
                inset: -10px;
            }
        }


        .sec-title {
            padding: 40px 40px;
            margin-bottom: 0;
            @media(max-width: 767px) {
                padding: 30px;
            }
        }
    }
}

.booking-process {
    position: relative;
    background-color: #F7F4ED;
    border-radius: 38px;
    text-align: center;
    padding: 42px 25px;
    //margin: 24px 40px;
    width: 300px;
    height: 300px;
    display: block;
    margin: 24px auto;
    z-index: 3;

    @media(max-width: 1199px) {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    &_img {
        margin-bottom: 40px;
    }

    .box-title {
        margin-bottom: 10px;
    }

    &_text {
        margin-bottom: -0.3rem;
    }
}

.booking-line-area {
    position: relative;
    z-index: 2;

    .line-1 {
        position: absolute;
        left: 5px;
        bottom: 0;

        @media(max-width: 1299px) {
            left: 0;
        }

        @media(max-width: 1199px) {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 6px;
            right: 6px;
            width: 14px;
            height: 14px;
            background-color: $white-color;
            border-radius: 50%;
        }
    }

    .line-2 {
        position: absolute;
        left: 34.8%;
        bottom: 0;

        @media(max-width: 1299px) {
            left: 33.5%;
        }

        @media(max-width: 1199px) {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 6px;
            left: 180px;
            width: 14px;
            height: 14px;
            background-color: $white-color;
            border-radius: 50%;
        }
    }

    .line-3 {
        position: absolute;
        bottom: 0;
        right: 5px;

        @media(max-width: 1299px) {
            right: 0;
        }

        @media(max-width: 1199px) {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            width: 14px;
            height: 14px;
            background-color: $white-color;
            border-radius: 50%;
        }
    }

    // &:nth-child(1) {
    //     .booking-process {
    //         margin-left: 20px;
    //     }
    // }
}