.cta-offer {
    .box-title {
        font-weight: 700;
        font-size: 64px;
        line-height: 74px;
        color: $white-color;
        margin-top: -0.22em;
        margin-bottom: 10px;
        @media(max-width: 575px) {
            font-size: 44px;
            line-height: 54px;
        }
    }

    .box-text {
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        color: $white-color;
        margin-bottom: 44px;
    }
}

.checklist {
    &.style3 {
        max-width: 506px;

        li {
            padding-left: 50px;
            margin-bottom: 15px;

            &:before {
                content: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.7844 1.1047C28.7039 1.0447 28.4184 0.873201 28.1474 1.1657L16.2429 13.9167C16.0859 14.0847 15.8349 14.1232 15.6349 14.0127L8.7284 10.1897C8.4149 10.0167 8.1949 10.2267 8.1344 10.2952C8.0024 10.4457 7.9259 10.6942 8.1074 10.9397C8.2889 11.1852 16.0144 21.6377 16.0144 21.6377C16.1969 21.8842 16.4799 22.0202 16.7749 21.9992C17.0779 21.9822 17.3404 21.8192 17.4944 21.5517L28.9204 1.7727C29.1394 1.3942 28.8454 1.1502 28.7844 1.1047Z' fill='%23FFC000'/%3E%3Cpath d='M28.0726 10.473C27.9346 10.414 27.7786 10.4195 27.6456 10.486C27.4251 10.5965 27.3181 10.8445 27.3921 11.075C27.8956 12.6445 28.0886 14.294 27.9646 15.9795C27.4826 22.546 21.9396 27.8235 15.3466 27.9955C11.6566 28.091 8.06462 26.597 5.52512 23.894C2.98912 21.193 1.72312 17.519 2.05362 13.814C2.61162 7.54652 7.76662 2.48202 14.0446 2.03402C16.3596 1.86952 18.6571 2.31302 20.6961 3.31702C20.9361 3.43552 21.2241 3.34752 21.3536 3.11952C21.4261 2.99302 21.4416 2.85002 21.4001 2.71352C21.3596 2.58252 21.2706 2.47802 21.1501 2.41852C19.2291 1.47652 17.1601 0.999023 15.0001 0.999023C11.0946 0.999023 7.47112 2.56652 4.79662 5.41152C2.12362 8.25652 0.785116 11.978 1.02812 15.893C1.46312 22.9145 7.08562 28.537 14.1066 28.972C18.0191 29.214 21.7431 27.877 24.5876 25.2035C27.4326 22.5285 29.0001 18.905 29.0001 15C29.0001 13.556 28.7811 12.1345 28.3476 10.773C28.2891 10.589 28.1501 10.506 28.0726 10.473Z' fill='%23FFC000'/%3E%3C/svg%3E%0A");
                font-family: var(--icon-font);
                position: absolute;
                left: 0;
                top: 0px;
                font-size: 32px;
                font-weight: 600;
                color: var(--theme-color);
                margin-right: 10px;
            }
        }
    }
}

.cta6-area {
    position: relative;
    z-index: 4;
}

.cta6-image {
    /* width: 806px; */
    margin-right: -220px;
    margin-bottom: -110px;
}

.cta6-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(27, 27, 27, 0.80);
    }
}


